@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: powderblue;
    letter-spacing: 0.20em;
    margin: 0;
}

ul {
    width: 570px;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
}

li {
    display: inline;
    margin: 0px 3px;
    font-weight: bolder;
    background-color: palegoldenrod;
}

p.words {
    text-align: center;
    height: 1200px;
    width: 90%;
    font-weight: 600;
    background-color: palegoldenrod;
    background-position: center;
    margin: 25px 50px 75px;
}

p.header {
    text-align: center;
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
}

a {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 3px 18px 5px 18px;
}

a:hover, a.on {
    color: black;
    background-color: ffffff;
}

.carousel-inner {
    width: 100%;
    max-height: 200px !important;
    text-align: center !important;
}

.carousel-item {
    width: 100%;
    max-height: 200px !important;
    text-align: center !important;
}

.column {
    float: left;
    width: 20%;
    padding: 1px;
}

.column img {
    margin-top: 15px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.video {
    width: 10%;
    float: left;
}

.container {
    width: 600px;
    border: 2px solid #333;
    padding: 15px 10px;
}

.container h2 {
    text-align: left;
    margin-bottom: 15px
}

textarea {
    height: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #aaa;
    background-color: transparent;
    margin-bottom: 10px;
    resize: none;
    outline: none;
    transition: .5s
}

input[type="submit"], button {
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"] {
    color: #fff;
    background-color: #273c75
}

button {
    color: #333;
    background-color: transparent
}

.btn {
    display: none
}